.section-footer {
    padding: 40px 0;
    font-size: 14px;
    color: black;
    .section-footer-subtitle:last-child {
        padding-bottom: 14px;

    }
    .section-footer-politics {
        text-decoration: underline
    }
}