.section-header {
  width: 100%;
  background: rgb(123, 31, 162);
  padding-bottom: 30px;
  .section-header-wrap {
    .section-header-title {
      padding: 12px 0 0;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      h1 {
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        display: block;
        font-size: 2em;
        font-weight: bold;
      }
    }
    .section-header-img img {
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      width: 100%;
    }
  }
}
