<section class=" section-header">
    <div class="section-header-wrap">
        <div class="section-header-title">
            <h1>ДЕТСКИЙ НАБОР ДЛЯ ТВОРЧЕСТВА</h1>
        </div>
        <div class="section-header-img">
            <img src="../assets/images/sttr1.jpg" alt="image">

        </div>
        <div class="section-header-dicount">
            <div class="section-header-dicount-left">
                <p class="section-header-dicount-left-text">обичная цена</p>
                <p class="section-header-dicount-left-price">4250р</p>
            </div>
            <div class="section-header-dicount-center">
                <p>скидка</p>
                <p>-53%</p>
            </div>
            <div class="section-header-dicount-right">
                <p class="section-header-dicount-left-text">цена по акции</p>
                <p class="section-header-dicount-left-price">1990р</p>
            </div>
        </div>
    </div>
</section>