.section-order {
    .section-order-title {
            font-size: 30px;
            line-height: 42px;
            color: #ca1776;
            font-weight: 700;
            padding: 30px 10px ;
            
    }
    .section-order-items {
            padding: 0px 10px ;
        .section-order-item {
            display: flex;
            flex-direction: row;
            padding: 10px 10px ;

            .section-order-item-icon {
                margin: -4px 16px 0 -4px;
            }
            .section-order-item-text {
                font-weight: 400;
                font-size: 18px;
                line-height: 1.4em;
                color: #333;
                text-align: left;
            }
            .section-order-item-inner {
                display: flex;
                flex-direction: column;
                    text-align: left;

              .section-order-item-inner-title {
                    margin: 0 0 5px;
                    font-weight: 700;
                    text-transform: uppercase;
              }  
              .section-order-item-inner-text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.4em;
                    color: #333;
                    cursor: default;
              }  
            }
        }
    }
}