<section class="section-order">
    <div class="section-order-title">КАК ЗАКАЗАТЬ?</div>
    <div class="section-order-items">
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/how-img-1.png" alt="">
            </div>
            <div class="section-order-item-text">Оформите заказ на сайте, заполнив простую форму</div>
        </div>
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/how-img-2.png" alt="">
            </div>
            <div class="section-order-item-text">Наши менеджеры перезвонят вам для уточнения деталей заказа</div>
        </div>
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/how-img-3.png" alt="">
            </div>
            <div class="section-order-item-text">Мы отправляем Ваш заказ почтой</div>
        </div>
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/how-img-4.png" alt="">
            </div>
            <div class="section-order-item-text">Вы оплачиваете заказ при получении</div>
        </div>
    </div>

    <div class="section-order-title">ДОСТАВКА И ОПЛАТА</div>
    <div class="section-order-items">
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/order_info__info1_icon.png" alt="">
            </div>
            <div class="section-order-item-inner">
                <div class="section-order-item-inner-title">БЫСТРАЯ ДОСТАВКА</div>
                <div class="section-order-item-inner-text">От 3-10 рабочих дней. В зависимости от удаленности региона.
                </div>
            </div>
        </div>
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/order_info__info2_icon.png" alt="">
            </div>
            <div class="section-order-item-inner">
                <div class="section-order-item-inner-title">ОПЛАТА ПРИ ПОЛУЧЕНИИ</div>
                <div class="section-order-item-inner-text">Оплата заказа осуществляется при получении на почте</div>
            </div>
        </div>
        <div class="section-order-item">
            <div class="section-order-item-icon">
                <img src="../assets/icons/order_info__info3_icon.png" alt="">
            </div>
            <div class="section-order-item-inner">
                <div class="section-order-item-inner-title">ТРОЙНАЯ ГАРАНТИЯ</div>
                <div class="section-order-item-inner-text">100% гарантия: наличия товара на складе, качественного
                    продукта и
                    возврата средств в течение 14 дней</div>
            </div>
        </div>
    </div>
</section>