<section class="section-catalog">
    <div class="section-catalog-wrap">
        <div class="section-catalog-wrap-title">ПРЕИМУЩЕСТВА ДЕТСКОГО НАБОРА ДЛЯ ТВОРЧЕСТВА</div>
        <div class="section-catalog-wrap-img">
            <img src="../assets/images/str2.jpg" alt="images">
        </div>
        <div class="section-catalog-wrap-text">Доступно и интересно. Невероятно увлекательное занятие для всех возрастов
            –
            от
            младенцев (до 3 лет под присмотром) до
            подросткового возраста</div>
        <div class="section-catalog-wrap-img">
            <img src="../assets/images/str3.jpg" alt="images">
        </div>
        <div class="section-catalog-wrap-text">Чистота и безопасность. 100% Высокое качество – изготовлено из безопасных
            материалов. Удобно брать в путешествие</div>
        <div class="section-catalog-wrap-button">
            <button>заказать со скидкой</button>
        </div>
    </div>

</section>