<section class="section-catalog">
    <div class="section-catalog-wrap">
        <h2><b>ПРЕИМУЩЕСТВА ДЕТСКОГО НАБОРА ДЛЯ ТВОРЧЕСТВА</b></h2>
        <div class="section-catalog-wrap-img">
            <img src="../assets/images/str2.jpg" alt="images">
        </div>
        <p>Доступно и интересно. Невероятно увлекательное занятие для всех возрастов
            –
            от
            младенцев (до 3 лет под присмотром) до
            подросткового возраста</p>
        <div class="section-catalog-wrap-img-second">
            <img src="../assets/images/str3.jpg" alt="images">
            <p class="section-catalog-wrap-text">Чистота и безопасность. 100% Высокое качество – изготовлено из
                безопасных
                материалов. Удобно брать в путешествие</p>
            <div class="section-catalog-wrap-button">
                <button>заказать со скидкой</button>
            </div>
        </div>

    </div>

</section>