<section class=" section-hit">
    <div class="section-hit-wrapper">
        <div class="section-hit-title">Хит 2021 г.</div>
        <div class="section-hit-list">
            <ul>
                <li>Развивает мелкую моторику рук</li>
                <li>Тренирует концентрацию внимания</li>
                <li>Улучшает зрительную и слуховую память</li>
                <li>Совершенствует творческие способности</li>
            </ul>
        </div>
        <div class="section-hit-button">
            <button>заказать со скидкой</button>
        </div>
    </div>

</section>