<section class="section-benefits">
    <div class="section-benefits-wrap">
        <div class="section-benefits-wrap-title">ДЕТСКИЙ НАБОР ДЛЯ ТВОРЧЕСТВА</div>
        <div class="section-benefits-wrap-img">
            <img src="../assets/images/str5.jpg" alt="">
        </div>
        <div class="section-benefits-wrap-list">
            <ul>
                <li>✓ 12 акварельных фломастеров для рисования</li>
                <li>✓ 24 цветных фломастеров для рисования</li>
                <li>✓ 48 мелков для масляной пастели</li>
                <li>✓ 24 цветных карандаша</li>
                <li>✓ 24 восковых карандашей для рисования</li>
                <li>✓ 18 акварельных красок</li>
                <li>✓ Доступные цвета: розовый/синий</li>
            </ul>
        </div>
    </div>
</section>