<section class=" section-desc">
    <div class="section-desc-img-one" (click)='playVideo()'>
        <div class="video" *ngIf='isVideo'>
            <iframe width="480" height="270" src="https://www.youtube.com/embed/fn4xy3K3aXo"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <img *ngIf='isPhoto' src="../../../assets/images/Детский набор для творчества.webp" alt="image">
        <img *ngIf='isPhoto' src="../../../assets/images/play-overlay.png" alt="">


    </div>
    <div class="section-desc-img-two">
        <img src="../assets/images/str1.jpg" alt="image">
        <p>С художественным набором для рисования ваш ребенок окунется в мир творчества,
            станет более усидчивым, внимательным и
            аккуратным. В наборе большое количество фломастеров, карандашей, мелков и красок —
            <br>
            <b>всего 150 предметов.</b>
            <br>
            <br>
            Все предметы высокого качества: карандаши пишут мягко, краски яркие, фломастеры
            сочные. Все в удобном чемоданчике,
            который легко брать в дорогу, на природу, в отпуск или на дачу. Каждый предмет сложен в свою ячейку, а
            это
            значит, что
            все будет под рукой и никогда не потеряется.

            <br>
            <br>
            Мольберт для рисования уже в комплекте, который вы получаете в подарок, то есть
            дополнительно ничего покупать не
            понадобится.
            <br>
            <br>
            Товар сертифицирован, материалы из которых изготовлен набор, полностью безопасны
            для ребенка.
        </p>
    </div>


</section>