<section class=" section-desc">
    <div class="section-desc-img-one">
        <img src="../assets/images/str1.jpg" alt="image">
    </div>
    <div class="section-desc-img-two">
        <img src="../assets/images/str1.jpg" alt="image">
    </div>
    <div class="section-desc-text">С художественным набором для рисования ваш ребенок окунется в мир творчества,
        станет более усидчивым, внимательным и
        аккуратным. В наборе большое количество фломастеров, карандашей, мелков и красок —
        <br>
        <b>всего 150 предметов.</b>
    </div>
    <div class="section-desc-text">Все предметы высокого качества: карандаши пишут мягко, краски яркие, фломастеры
        сочные. Все в удобном чемоданчике,
        который легко брать в дорогу, на природу, в отпуск или на дачу. Каждый предмет сложен в свою ячейку, а это
        значит, что
        все будет под рукой и никогда не потеряется.</div>
    <div class="section-desc-text">Мольберт для рисования уже в комплекте, который вы получаете в подарок, то есть
        дополнительно ничего покупать не
        понадобится.</div>
    <div class="section-desc-text">Товар сертифицирован, материалы из которых изготовлен набор, полностью безопасны
        для ребенка. </div>
</section>