.section-feedback {
    padding: 50px 20px;
    background: rgb(254,82,78);
    background: linear-gradient(177deg, rgba(254,82,78,1) 0%, rgba(206,28,116,1) 50%);
    .section-feedback-title {
            font-size: 30px;
            line-height: 42px;
            color: white;
            font-weight: bold;
            padding-bottom: 20px;
    }
    .section-feetback-block {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
                .section-feetback-block-left img {
                    height: 60px;
                }
                .section-feetback-block-author   {
                            // margin: 0 auto;
                            padding: 13px;
                            width: auto;
                            height: auto;
                            border-radius: 50%;
                            background: rgba(255, 255, 255, 0.2);
                            // box-shadow: 1px 2px 5px rgb(0 0 0 / 10%);
                            // position: relative;
                            z-index: 10;
                            img {
                                border-radius: 50%;
                                height: auto;
                            }
                        }
            .section-feetback-block-right img {
                height: 60px;
            }
    }
    .section-feedback-slider {
        margin-top: -95px;
        padding: 110px 20px 20px;
        border-radius: 15px;
        background: #fff;
        text-align: center;
        .section-feedback-slider-author {
            font-size: 18px;
            font-weight: 700;
        }
        .section-feedback-slider-stars {
            padding-bottom: 10px;
        }
        .section-feedback-slider-text {
            font-size: 18px;

        }
    }
}