<section class="section-feedback">
    <div class="section-feedback-title">ОТЗЫВЫ НАШИХ КЛИЕНТОВ</div>
    <div class="section-feetback-block">
        <div class="section-feetback-block-left">
            <img src="../assets/icons/arrow_left.svg" alt="">
        </div>
        <div class="section-feetback-block-author">
            <img src="../assets/clients_img/rvv1.jpg" alt="">
        </div>
        <div class="section-feetback-block-right">
            <img src="../assets/icons/arrow+right.svg" alt="">
        </div>
    </div>
    <div class="section-feedback-slider">
        <div class="section-feedback-slider-author">ИРИНА МАТВЕЕВА</div>
        <div class="section-feedback-slider-stars">
            <span class="material-icons-outlined">
                <img src="../assets/icons/star.svg" alt="">
            </span>
            <span class="material-icons-outlined">
                <img src="../assets/icons/star.svg" alt="">
            </span>
            <span class="material-icons-outlined">
                <img src="../assets/icons/star.svg" alt="">
            </span>
            <span class="material-icons-outlined">
                <img src="../assets/icons/star.svg" alt="">
            </span>
            <span class="material-icons-outlined">
                <img src="../assets/icons/star.svg" alt="">
            </span>
        </div>
        <div class="section-feedback-slider-text">Моя дочь большая любительница порисовать, поэтому для своей юной
            художницы я решила купить этот комплект с мольбертом.
            Теперь это наша любимая игрушка! Незаменимая вещь, берем его во все поездки: и в отпуск, и на дачу -
            компактно
            и
            функционально!:) Однозначно рекомендую в подарок всем творческим деткам)</div>
    </div>
</section>