.section-skills {
  padding: 50px 20px 0;
  background: #ff5050 url("../../../assets/benefits_bg.jpeg") no-repeat center
    top;
  color: #fff;
  text-align: center;

  h2 {
    display: block;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .section-skills-wrap-block {
    padding-top: 30px;

    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .section-skills-wrap-block-item {
      vertical-align: top;
      margin: 0 0px 30px 0;
      line-height: 24px;
      letter-spacing: normal;
      .section-skills-item-icon {
        img {
          display: block;
          margin: 0 auto 15px;
          max-width: 100%;
          height: auto;
          border: 7px solid rgba(249, 252, 241, 0.2);
          border-radius: 50%;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
            0 0 0 1px rgba(0, 0, 0, 0.08);
        }
      }
      .section-skills-item-text {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: normal;
        font-weight: 600;
        width: 200px;
      }
    }
  }
}
