<section class="section-skills">
    <div class="section-skills-wrap">
        <div class="section-skills-wrap-title">НАБОР ДЛЯ ТВОРЧЕСТВА НАДОЛГО ЗАИНТЕРЕСУЕТ ВАШЕГО РЕБЁНКА!</div>
        <div class="section-skills-wrap-block">
            <div class="section-skills-wrap-block-item">
                <div class="section-skills-item-icon">
                    <img src="../assets/icons/ic1.png" alt="">
                </div>
                <div class="section-skills-item-text">Раскрывает творческие способности ребенка</div>
            </div>
            <div class="section-skills-wrap-block-item">
                <div class="section-skills-item-icon">
                    <img src="../assets/icons/ic2.png" alt="">
                </div>
                <div class="section-skills-item-text">Увеличивает способность концентрировать внимание</div>
            </div>
            <div class="section-skills-wrap-block-item">
                <div class="section-skills-item-icon">
                    <img src="../assets/icons/ic3.png" alt="">
                </div>
                <div class="section-skills-item-text">Помогает развивать образное мышление</div>
            </div>
            <div class="section-skills-wrap-block-item">
                <div class="section-skills-item-icon">
                    <img src="../assets/icons/ic4.png" alt="">
                </div>
                <div class="section-skills-item-text">Развивает хорошую моторику рук и пальчиков</div>
            </div>
        </div>
    </div>

</section>