<section class="section-hit section-form">
    <div class="section-form-title">
        <h1>ДЕТСКИЙ НАБОР ДЛЯ ТВОРЧЕСТВА</h1>
    </div>
    <div class="section-form-img">
        <img src="../assets/images/sttr1.jpg" alt="form">
    </div>
    <div class="section-header-dicount">
        <div class="section-header-dicount-left">
            <p class="section-header-dicount-left-text">обичная цена</p>
            <p class="section-header-dicount-left-price">4250р</p>
        </div>
        <div class="section-header-dicount-center">
            <p>скидка</p>
            <p>-53%</p>
        </div>
        <div class="section-header-dicount-right">
            <p class="section-header-dicount-left-text">цена по акции</p>
            <p class="section-header-dicount-left-price">1990р</p>
        </div>
    </div>
    <div class="section-hit-wrapper">
        <div class="section-hit-title">Хит 2021 г.</div>
        <div class="section-hit-list">
            <ul>
                <li>Развивает мелкую моторику рук</li>
                <li>Тренирует концентрацию внимания</li>
                <li>Улучшает зрительную и слуховую память</li>
                <li>Совершенствует творческие способности</li>
            </ul>
        </div>
    </div>
    <div class="section-form-dicount">
        <div class="section-form-dicount-left"></div>
        <div class="section-form-dicount-center"></div>
        <div class="section-form-dicount-right"></div>
    </div>
    <div class="section-form-form">
        <div class="section-form-form-input">
            <input type="text" placeholder="Ваше Имя">
        </div>
        <div class="section-form-form-input">
            <input type="text" placeholder="Ваш телефон">
        </div>
        <button placeholder="">оформить заказ</button>
    </div>
</section>