<section class="section-header">
    <div class="section-header-wrap">
        <div class="section-header-title">
            <h1>ДЕТСКИЙ НАБОР ДЛЯ ТВОРЧЕСТВА</h1>
            <div class="section-header-img">
                <img src="../assets/images/sttr1.jpg" alt="image">
            </div>
        </div>
    </div>
    <div class=" section-hit">
        <div class="section-hit-wrapper">
            <div class="section-header-dicount">
                <div class="section-header-dicount-left">
                    <p class="section-header-dicount-left-text">Обычная цена:</p>
                    <p class="section-header-dicount-left-price">4250р</p>
                </div>
                <div class="section-header-dicount-center">
                    <div class="center_text">СКИДКА</div>
                    <div class="center_value">-53%</div>
                </div>
                <div class="section-header-dicount-right">
                    <p class="section-header-dicount-left-text">цена по акции</p>
                    <p class="section-header-dicount-left-price">1990р</p>
                </div>
            </div>
            <div class="section-hit-title">Хит 2021 г.</div>
            <div class="section-hit-list">
                <ul>
                    <li>Помогает развивать мелкую моторику рук</li>
                    <li>Усиливает концентрацию внимания</li>
                    <li>Укрепляет зрительную и слуховую память</li>
                    <li>Развивает творческие способности</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="section-form-form">
        <div class="section-form-form-input">
            <input type="text" placeholder="Ваше Имя">
        </div>
        <div class="section-form-form-input">
            <input type="text" placeholder="Ваш телефон">
        </div>
        <div class="section-form-button">
            <button>оформить заказ</button>
        </div>
    </div>
</section>